<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.hnfy258.mapper.CommentMapper">

    <!-- 查询根评论 -->
    <select id="getRootComment" resultType="site.hnfy258.entity.Comment">
        SELECT * FROM sg_comment
        WHERE sg_comment.article_id = #{articleId} AND root_id = -1
    </select>

    <!-- 查询子评论 -->
    <select id="getChildren" resultType="site.hnfy258.entity.Comment">
        SELECT * FROM sg_comment
        WHERE sg_comment.article_id = #{articleId} AND root_id = #{id}
    </select>

</mapper>
